[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
Core/Output*/
UI/Output*/
UI/WinForms/Output*/
Data/Oracle/Output*/
Data/PostgreSQL/Output*/
Data/Redis/Output*/
Data/SQLServer/Output*/
Data/SQLite/Output*/
Core/OsmSharp.UnitTests/test-results*/
*.userprefs
Output*/
OutputAndroid*/
OutputWindowsPhone*/
.vs*/
*.psess
test-results*/
TestResults*/
*.vsp
.DotSettings
*.vspx
*.patch
*.osm.pbf
*.osm.bin
TestResult.xml
.vs*/
.idea*/
project.lock.json

packages/*
!packages/repositories.config

docs/obj/*
docs/api/*
docs/_site/*

src/OsmSharp.IO.Binary.CLI/**/*.osm
src/OsmSharp.IO.Binary.CLI/**/*.db
src/OsmSharp.IO.Binary.CLI/**/*.hash
src/OsmSharp.IO.Binary.CLI/**/*.osc

.idea*/


**/logs/*
**/*.bin.zip
test*.osm